<mat-toolbar *ngIf="!authService.isLoggedIn()" class="mat-elevation-z6" color="primary">
    <a routerLink="/" mat-button class="mat-button-large">{{APP_NAME}}</a>
    <span class="example-spacer"></span>
    <a routerLink="/login" mat-button class="mat-button-large">Login</a>
    <a routerLink="/register" mat-button class="mat-button-large">Register</a>
</mat-toolbar>

<mat-toolbar *ngIf="authService.isLoggedIn()" class="mat-elevation-z6" color="primary">
    <a routerLink="/home" mat-button class="mat-button-large">{{APP_NAME}}</a>
    <span class="example-spacer"></span>
    <a routerLink="/logout" mat-button class="mat-button-large">Logout</a>
</mat-toolbar>