<div style="width: 100%;height: 420px;" *ngIf="!urlId">
    <mat-card style="height: 420px;width: 100%;">
        Select a URL to view details 
    </mat-card>
</div>


<div style="height: auto;" *ngIf="urlId">
    <mat-card style="height: 420px;text-align: center;align-items: center;" *ngIf="fetchingUrlDetails">
        <mat-spinner class="loading-indicator" mode="indeterminate"></mat-spinner>
    </mat-card>


    <mat-card style="height: auto" *ngIf="!fetchingUrlDetails">
        <mat-card-header style="text-align: center">
            <mat-card-title style="text-align: center">URL Details</mat-card-title>
        </mat-card-header>

        <mat-card style="background-color: #1565c0;">
            <mat-card-content>Short Url : <a href="/short/{{urlDetails.shortUrl}}" target="_blank">{{SHORT_URL_PREFIX + urlDetails.shortUrl}}</a> 
                <button mat-stroked-button style="margin-left: 15px;" (click)="copyMessage(SHORT_URL_PREFIX + urlDetails.shortUrl)"> Copy URL </button>
            </mat-card-content>
            <mat-card-content>Long Url : <a href="{{urlDetails.longUrl}}" target="_blank">{{urlDetails.longUrl}}</a></mat-card-content>
        </mat-card>

        <div style="margin-top: 20px;"></div>
        <mat-card style="background-color: #1565c0;height: 300px;">
            <mat-card-header> 
                <mat-card-title>{{urlDetails.visits}}</mat-card-title>
                <mat-card-subtitle>VISITS</mat-card-subtitle>
            </mat-card-header>
            <app-url-visits-chart style="height: 250px"></app-url-visits-chart>
        </mat-card>

        <div style="margin-top: 20px"></div>
        <mat-card style="background-color: #1565c0;height: 300px;">
            <mat-card-header> 
                <mat-card-title>REFERER</mat-card-title>
            </mat-card-header>
            <mat-card-content >
                <app-url-referer-chart ></app-url-referer-chart>
            </mat-card-content>
        </mat-card>

    </mat-card>

</div>




